Udemy_Tutorials/Computer_Vision_A_Z_Template_Folder/Module-2_Object_Detection/ssd300_mAP_77.43_v2.pth
/Udemy_Tutorials/Computer_Vision_A_Z_Template_Folder/Module-2_Object_Detection/ssd300_mAP_77.43_v2.pth

shape_predictor_68_face_landmarks.dat
/shape_predictor_68_face_landmarks.dat